body {
    background-color: hsl(223, 19%, 93%);
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    align-items: center;
    margin-top: 40px;
}

.commentDiv {
    background-color: white;
    border: 1px solid hsl(228, 33%, 97%);
    border-radius: 8px;
    padding: 5px;
    display: flex;
    margin-bottom: 10px;
    max-width: 65%;
}

#addCommentDiv {
    background-color: white;
    border: 1px solid hsl(228, 33%, 97%);
    border-radius: 8px;
    padding: 5px;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 65%;
    justify-content: center;
    align-items: center;
}

#addCommentDiv img {
    width: 40px;
    height: 40px;
    margin-top: -85px;
}

#addCommentInput {
    margin: 12px 20px;
    width: 60%;
    padding-left: 10px;
    height: 111px;
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
    border: solid 1px lightgray;
    font-size: 16px;
}

#addCommentInput:hover {
    border: solid 1px rgb(85, 36, 169);
}

#submitBtn {
    margin-top: -65px;
    padding: 15px 27px;
    font-size: 15px;
    background-color: rgb(85, 36, 169);
    color: white;
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

#submitBtn:hover {
    background-color: rgb(113, 101, 136);
}

#replies {
    display: flex;
    flex-direction: column;
    width: 61%;
    align-items: flex-end;
    /* margin-right: -57px; */
    margin-right: -4.85%;
    border-left: solid 1px lightgray;
}

#replies .commentDiv{
    max-width: 90%;
}

#lastComment {
    margin-bottom: 0;
}

h4 {
    display: inline-block;
}

.postedDate {
    display: inline-block;
    color: lightslategrey;
}

.upvote {
    display: inline-flex;
    flex-direction: column;
    background-color: hsl(238, 100%, 95%);
    padding: 10px 5px;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    align-self: center;
    border-radius: 6px;
    width: 30px;
    min-width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.makePurple {
    color: rgb(85, 36, 169);
    font-size: 1rem;
}

.makePurple:hover {
    color: rgb(113, 101, 136);
}

.makeRed {
    color: hsl(358, 79%, 66%);
    margin-right: 10px;
}

.makeRed:hover {
    color: hsl(357, 100%, 86%);
}

.commentBody {
    margin-left: 10px;
}

.commentBody p {
    margin-top: 0;
    color: lightslategrey;
}

.commentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightCommentHeader {
    margin-right: 20px;
}

.leftCommentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    margin-left: 10px;
}

.leftCommentHeader img {
    width: 30px;
    height: 30px;
}

.leftCommentHeader img, .leftCommentHeader h4, .leftCommentHeader p {
    margin-right: 10px;
}